.header .carousel-control-prev-icon,
.header .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.header .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  font-weight: bold;
  color: red;
}

.header .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  font-weight: bold;
  color: red;
}
/* FOR MAKING CAROUSEL HEIGHT FIXED*/
.carousel-inner .carousel-item{
  height:80vh;
  object-fit: contain;
  background-size:cover;
  background-position: center center;
}

.carousel-inner > .carousel-item > img {
  height:80vh;  }
