@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600&display=swap');
.Process_heading{
    margin-top: 100px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

.Process_heading h1{
    font-size: 4rem !important;
}

.Process_content{
    margin-top: 25px;
    font-family: 'Lora', serif;

}
.Process_content h2{
    font-size: 3rem !important;
    text-align: center;
}