@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600&display=swap');
.solution_heading{
    margin-top: 50px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}
.solution_heading h1{
    font-size: 4rem !important;
}

.solution_Keys{
    margin-top: 50px;
    font-family: 'Lora', serif;

}

.card-body{
    min-height: 350px !important;
    max-height: 350px;
}
.card-title{
    text-align: center;
    font-weight: 600;
}

.card-text{
    text-align: justify;
}

.card-deck .card{
    background-color: #f2fde4 !important;
    margin-top: 10px !important;
}

.card-img-top-1{
    height: 200px !important;
    width: 200px !important;
}

@media (min-width:991px) and (max-width:1200px){
    .card-img-top-1{
        height: 150px !important;
        width: 150px !important;
    }
    .card-body{
        min-height: 440px !important;
        max-height: 440px;
    }
}