@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600&display=swap');
.VP_heading{
    margin-top: 100px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

.VP_heading h1{
    font-size: 4rem !important;
}

.VP_content{
    margin-top: 25px;
    font-family: 'Lora', serif;

}
.VP_content h2{
    font-size: 3rem !important;
    text-align: center;
}


  
  .ip-features-container {
    width: 960px;
    margin: 50px auto;
    min-height: 65vh;
    max-height: 65vh;

  }
  
  .ip-features-grid {
    float: left;
    width: 100%;
  }
  
  .ip-features-grid div.ip-features-item:nth-child(2n+1) {
    clear: both;
  }
  
  .ip-features-grid div.ip-features-item {
    float: left;
    width: 50%;
    margin: 0 0 60px 0;
  }
  
  .ip-features-grid div.ip-features-item div.image {
    float: left;
    width: 120px !important;
    height: 120px !important;
    text-align: center;
    font-size: 64px;
  }
  
  .ip-features-grid div.ip-features-item div.text {
    float: left;
    width: 275px;
  }
  
  .ip-features-grid div.ip-features-item div.text h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px 0;
  }
  
  
  @media screen and (max-width: 720px) {
    .ip-features-container {
      width: 100%;
    }
 
    .ip-features-grid div.ip-features-item {
      float: none;
      width: 100%;
      margin: 0 0 32px 0;
    }
    .ip-features-grid div.ip-features-item div.text {
      float: none;
      width: 100%;
    }
  }