@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600&display=swap');
.Process_heading{
    margin-top: 50px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}
.Process_content{
    margin-top: 50px;
    font-family: 'Lora', serif;

}