<div class="page-container">
    <div class="width-container-pro">
        <h1 class="entry-title-pro">About us</h1>
    </div>
</div>
<div class="container" style="padding: 50px 0px 50px 0px;">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6	col-xl-6 col-xxl-6">
            <div class="aboutusbrief">
            <h1 style="font-size: 18px;text-align: left;font-weight: 600;">All of us know the perils of eating unhealthy food. But, how aware are we when it comes to the fact that the approach towards fresh food is as important as adding healthy foods to your diet?
            </h1>
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
            <h2 style=" font-size: 16px;text-align: left;font-weight:300;">FnC Mart is an inventive entrepreneurial venture which brings to you a complete supply of fresh and nutritious food products and is a meticulous endeavour aimed at establishing a clear flow of products and cash between farmers, customers & various stakeholders.</h2>
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
            <h4 style="font-size: 16px;text-align: left; font-weight:300;">It also aims to upgrade the traditional architecture, and improve farming techniques through Blockchain and IoT to ensure more productivity and assist farmers to make smart decisions.</h4>
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
            <h4 style="font-size: 16px;text-align: left; font-weight:300;">We play an integral role in rendering a healthy life for all and ensure transparency in the supply chain!</h4>
            
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
        </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6	col-xl-6 col-xxl-6" style="text-align: center;">
            <img src="../img/assistance.png" alt="">
        </div>
    </div>
</div>
<!-- <div class="container" >
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
            <img src="../img/assistance.png" alt="">
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6 row-part2">
            <div class="content">
                Our success is measured by <strong><em>your success</em></strong> Lorem ipsum dolor

                <p style="padding-top:10vh ;">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                </p>
            </div>
        </div>
    </div>
</div> -->