<div class="container" style="text-align:center;padding-top: 20vh;">
    <h2 >How we work</h2>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6 col-xl-6" id="he">
            <img src="../img/Chart.png" alt="" >
            <h4 id="pointer">hello</h4>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.</p>
            <div class="mycontent-left">
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6" id="he">
            <img src="../img/Chart.png" alt="">
            <h4 id="pointer">hello</h4>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6 col-xl-6" id="he">
            <img src="../img/Chart.png" alt="">
            <h4 id="pointer">hello</h4>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.</p>
            <div class="mycontent-left">
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6" id="he">
            <img src="../img/Chart.png" alt="">
            <h4 id="pointer">hello</h4>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.</p>
        </div>
    </div>
</div>	