<div class="page-container">
    <div class="width-container-pro">
        <h1 class="entry-title-pro">About us</h1>
    </div>
</div>
<div class="container" style="padding: 50px 0px 50px 0px;">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6	col-xl-6 col-xxl-6">
            <h1 style="font-size: 32px;text-align: left;font-weight: 600;">Are you ready for the Agtech revolution?</h1>
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
            <h2 style=" font-size: 20px;text-align: left;font-weight:550;">We are an eclectic mix of experts, thinkers, writers, and designers from all over the world united by our shared love for food and our excitement towards new technologies.</h2>
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
            <h4 style="font-size: 20px;text-align: left">Our idea fully came together during a Hackathon in London in 2016, we brainstormed and created AgriLedger in just under 48hours – since then we have spent more time tailoring, tweaking it to what we think will be a solution for each of the players in the agricultural supply chain.</h4>
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6	col-xl-6 col-xxl-6" style="text-align: center;">
            <img src="../img/assistance.png" alt="">
        </div>
    </div>
</div>
<!-- <div class="container" >
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
            <img src="../img/assistance.png" alt="">
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6 row-part2">
            <div class="content">
                Our success is measured by <strong><em>your success</em></strong> Lorem ipsum dolor

                <p style="padding-top:10vh ;">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                </p>
            </div>
        </div>
    </div>
</div> -->