<div class="contact_box">
    <div class="contact_left">
        <div class="contact-head">
            <h3>Get in Touch</h3>
            <hr>
        </div>

        <form action="contact_script.php" method="POST">
            <div class="input-row">
                <div class="input-group">
                    <label for="name" class="contact_us_label">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name">
                </div>

            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="email" class="contact_us_label">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email address">
                </div>
            </div>
            <label for="message" class="contact_us_label">Message</label>
            <textarea cols="100" id="discription" name="discription" rows="5"
                placeholder="Enter your message"></textarea>
            <button class="btn" type="submit">Send</button>
        </form>
    </div>
    <div class="contact_right">
        <div>
            <h3 class="relief">Lets Connect</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts </p>
        </div>
        <ul>
            <li>

                <div class="cx">

                    <span><i class="fas fa-map-marker-alt fa-2x"></i></span>
                    Keshav Bhavan, Gopal
                    Vidya
                    Mandir, Bhiwani Road, Jind, Haryana INDIA

                </div>

            </li>
            <li>
                <div class="cx">
                    <span><i class="fas fa-phone fa-2x"></i></span>

                    +91 9996419100
                </div>

            </li>
            <li>
                <div class="cx">
                    <span><i class="fas fa-2x fa-envelope"></i></span>
                    <a href="mailto:info@yuvanseva.org">info@yuvanseva.org</a>

                </div>
            <li>
        </ul>
    </div>
</div>