<link rel="stylesheet" href="../css/fncmart_contact.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<section>
    <div class="container">
        <div class="contactinfo">
            <div>
                <h2>
                    Contact Info
                </h2>
                <ul class="info">
                    <li>
                        <span>
                            <i class="fas fa-map-marker-alt fa-2x contacticon"></i>
                        </span>
                        <span>
                            Guru Nanak Colony<br>
                            Village Dariyapur, Najibabad<br>
                            256763

                        </span>
                    </li>

                    <li> 
                        <span>
                            <i class="fas fa-2x fa-envelope contacticon"></i>
                        </span>
                        <span>
                            contact@fncmart.com
                        </span>
                    </li>

                    <li>
                        <span>
                            <i class="fas fa-phone fa-2x contacticon"></i>
                        </span>
                        <span>
                            (+91) 857 00 22 540
                        </span>
                    </li>

                </ul>

                <ul class="sci">
                    <li><a href="#"><i class="fab fa-facebook fa-3x" ></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter fa-3x" ></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram fa-3x" ></i></a></li>
                </ul>
            </div>
        </div>
        <div class="contactForm">
            <h2>Send a Message</h2>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display: none;" onload="if(submitted){window.location='thankyou.html';}"></iframe>
            <form action='https://docs.google.com/forms/d/e/1FAIpQLSfGRYmjZ464GRdql0Hjq1sObPCVJGmuw4PXo-_sTKbPHGsqqw/formResponse' method="post" target="hidden_iframe" onsubmit="submitted= true;">
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" name="entry.1053734624" required>
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="entry.864304104" required>
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="entry.381282907" required>
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="entry.1930369362" required>
                        <span>Mobile Number</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea name="entry.1232810340" required></textarea>
                        <span>Write your message here...</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

