<link rel="stylesheet" href="../css/core_values.css">

<section class="core_values">
    <div class="container-fluid">
        <h1 class="values_heading">
            <span style="color:#fdb721;">Our Core</span>
            <span style="color:#027cd6;">Values</span>
        </h1>
        
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="values value1">
                    <i class="far fa-check-circle fa-2x odd"></i>
                    <span class="bold">Food companies</span> to automate and optimize their supply chain processes, and gain deeper insight of their suppliers.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="values">
                    <i class="far fa-check-circle fa-2x even"></i>
                    <span class="bold">Food companies</span> to automate and optimize their supply chain processes, and gain deeper insight of their suppliers.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="values">
                    <i class="far fa-check-circle fa-2x odd"></i>
                    <span class="bold">Food companies</span> to automate and optimize their supply chain processes, and gain deeper insight of their suppliers.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="values">
                    <i class="far fa-check-circle fa-2x even"></i>
                    <span class="bold">Food companies</span> to automate and optimize their supply chain processes, and gain deeper insight of their suppliers.
                </div>
            </div>
        </div>
        
        
    </div>
</section>