<link rel="stylesheet" href="../css/core_values.css">


<div class="container" style="text-align:center;padding-top: 1vh;">
    <h1 class="values_heading">
        <span style="color:#fdb721;">Our Core</span>
        <span style="color:#027cd6;">Values</span>
    </h1>
    <div class="row" style="margin: 10px;">
        <div class="col-xl-4" id="he">
            <img src="../img/INTEGRITY.png" alt="" class="corevalueicon">
            <h4 class="values"><span class="bold">Integrity</span> to the Customers and Farmers</h4>            
        </div>
        <div class="col-xl-4" id="he">
            <img src="../img/Chart.png" alt="" class="corevalueicon">
            <h4 class="values"><span class="bold">Commitment</span> to <span class="bold">Authenticity</span></h4>
        </div>
        <div class="col-xl-4" id="he">
            <img src="../img/Chart.png" alt="" class="corevalueicon">
            <h4 class="values">Functioning with <span class="bold">Total Transparency</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4" id="he">
            <img src="../img/Chart.png" alt="" class="corevalueicon">
            <h4 class="values"><span class="bold">Innovating</span> and <span class="bold">Inspiring the Changes</span> which are the need of the hour</h4>
        </div>
        <div class="col-xl-4" id="he">
            <img src="../img/Chart.png" alt="" class="corevalueicon">
            <h4 class="values"><span class="bold">Passionate</span> for <span class="bold">Excellence</span></h4>
        </div>
        <div class="col-xl-4" id="he">
            <img src="../img/Chart.png" alt="" class="corevalueicon">
            <h4 class="values"><span class="bold">Optimistic</span> to <span class="bold">Growth</span> and <span class="bold">Developments</span></h4>
        </div>
    </div>
</div>	