<link rel="stylesheet" href="../css/core_values.css">

<section class="core_values">
    <div class="container-fluid">
        <h4 class="values_heading">Our core values:</h4>
        
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="values value1">
                    <i class="fas fa-check-circle fa-2x"></i>
                    <span class="bold">Food companies</span> to automate and optimize their supply chain processes, and gain deeper insight of their suppliers.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="values">
                    <i class="fas fa-check-circle fa-2x"></i>
                    <span class="bold">Food companies</span> to automate and optimize their supply chain processes, and gain deeper insight of their suppliers.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="values">
                    <i class="fas fa-check-circle fa-2x"></i>
                    <span class="bold">Food companies</span> to automate and optimize their supply chain processes, and gain deeper insight of their suppliers.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="values">
                    <i class="fas fa-check-circle fa-2x"></i>
                    <span class="bold">Food companies</span> to automate and optimize their supply chain processes, and gain deeper insight of their suppliers.
                </div>
            </div>
        </div>
        
        
    </div>
</section>