<link rel="stylesheet" href="../css/fncmart_Process.css">


<div class="container">

    <div class="Process_heading">
        <h1>
            <span style="color:#fdb721;">How?</span><br>
        </h1>
    </div>
    <div class="Process_content">
        <h2>
        <span style="color:#027cd6;">Good Quality Assurance at Cheaper Price</span>
    </h2>

        <div class="container-lg mt-3">
            <img src="../img/Process.png" style="width: 100%; margin-top: 25px;">
        </div>

        <p style="margin-top: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta risus at sem lacinia vulputate. Aenean in
            laoreet lacus. Ut ultricies pretium lorem. Integer suscipit ut arcu eu blandit. Suspendisse dapibus sagittis
            nisi quis suscipit. Donec vitae eros efficitur, maximus tellus id, posuere sapien. Integer sollicitudin
            vestibulum orci nec efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu massa vitae
            justo lobortis feugiat id id felis. Ut consectetur purus semper enim accumsan molestie. Suspendisse potenti.
            Duis placerat ut nulla in aliquam. Sed vel metus lacinia, sagittis diam sed, feugiat nunc.</p>
    </div>
</div>
</div>