<link rel="stylesheet" href="../css/fncmart_solution.css">
<link rel="stylesheet" href="../css/Bootstrap4.5.2/bootstrap.min.css">

<div class="container">

    <div class="solution_heading">
    <h1>
        <span style="color:#fdb721;">OUR</span>
        <span style="color:#027cd6;">Solution</span>
    </h1>
    </div>

    <div class="solution_Keys">
        <div class="card-deck">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card shadow p-3 rounded">
                    <div style="text-align: center;">
                    <img src="../img/scan.png" class="card-img-top-1" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Food Traceability</h5>
                        <p class="card-text">Consumers can trace all the details about the product including the supply chain (transactions) by scanning the QR-code attached on each product.</p>
                        <!-- <p class="card-text"><small class="text-muted"><a href="#">Read More..</a></small></p> -->
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card shadow p-3 rounded">
                    <div style="text-align: center;">
                    <img src="../img/marketplace.png" class="card-img-top-1" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">E-com Marketplace</h5>
                        <p class="card-text">A perfect platform where the consumers can get the assured fresh products directly purchased from farmers at most affordable prices.</p>
                        <!-- <p class="card-text"><small class="text-muted"><a href="#">Read More..</a></small></p> -->
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card shadow p-3 rounded">
                    <div style="text-align: center;">
                        <img src="../img/assistance.png" class="card-img-top-1" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Farmer Assistance</h5>
                        <p class="card-text">The IOT sensors installed in the farms help in making predictive analysis that ensure more productivity & quality in the farms. Also enable farmers to make smart decisions.</p>
                        <!-- <p class="card-text"><small class="text-muted"><a href="#">Read More..</a></small></p> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card shadow p-3 rounded">
                    <div style="text-align: center;">
                    <img src="../img/coldstorage.png" class="card-img-top-1" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Cold Storage</h5>
                        <p class="card-text">The collection centres of FnC Mart offer the cold storage facility in the village situated collection centres for the farmers to stow in their products.</p>
                        <!-- <p class="card-text"><small class="text-muted"><a href="#">Read More..</a></small></p> -->
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
