<link rel="stylesheet" href="../css/fncmart_Valuepreposition.css">



<div class="VP_heading">
  <h1>
    <span style="color:#fdb721;">Who All are getting Benefits?</span><br>
  </h1>
</div>
<div class="VP_content">
  <h2>
    <span style="color:#027cd6;">Value Preposition</span>
  </h2>

  <div class="container-lg mt-3" style="text-align: center !important;">

    <img src="../img/fncmartstructure.jpg" style="width: 100%; margin-top: 25px; margin-bottom: 25px;">
    <p>The predictive analysis fetched over the sensors along with the farm data are distributed among all the stakeholders for the following six benefits</p>

  </div>


  <div class="ip-features-container">
    <article class="ip-features-grid">
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmerconsumermp.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Customer Marketplace</h3>
          <p>Providing a marketplace where Farmers can sell their crops to FnC Mart and the consumers can purchase, giving them more market connectivity.</p>
        </div>
      </div>
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmerfertilizer.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Fertilizer Industry Supply</h3>
          <p>Connectivity of Farmer and fertilizer industries with the farm data in order to judge the right type of fertilizers that are needed for the farm</p>
        </div>
      </div>
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmerpolicy.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Agriculture Department/GOI Policies</h3>
          <p>Farm Data will be shared with the Government, policies centering more on benefits the farmers can be formed.</p>
        </div>
      </div>
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmerinsurance.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Bank Insurance/Loans</h3>
          <p>Shared data of farms with banks will provide ease to small farmers acquiring loans from the banks, data can be helpful for considering collaterals/guarantees.</p>
        </div>
      </div>
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmertransport.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Transportation Facility</h3>
          <p>Connectivity of Farmer and transport companies, data shared will help the transportation companies to connect with the leads.</p>
        </div>
      </div>
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmerconsumertransparency.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Customer Transparency</h3>
          <p>The consumers can get details of all the transactions by scanning for details thereby validating its freshness. </p>
        </div>
      </div>

    </article>
  </div>


</div>
</div>