<link rel="stylesheet" href="../css/fncmart_Process.css">


<div>

    <div class="Process_heading">
        <h1>
            <span style="color:#fdb721;">How?</span><br>
        </h1>
    </div>
    <div class="Process_content">
        <h2>
            <span style="color:#027cd6;">Good Quality Assurance at Cheaper Price</span>
        </h2>

        

        <p style="margin-top: 20px; text-align: center;">
            In FnC Mart, farmers & customers are connected with the traceability in Supply Chain with removal of
            middlemen.
        </p>
        <div class="">
            <img src="../img/fncmartprocess.png" style="width: 100%; margin-top: 25px;">
        </div>
    </div>
</div>
</div>