<link rel="stylesheet" href="../css/fncmart_Valuepreposition.css">



<div class="VP_heading">
  <h1>
    <span style="color:#fdb721;">Who All are getting Benefits?</span><br>
  </h1>
</div>
<div class="VP_content">
  <h2>
    <span style="color:#027cd6;">Value Preposition</span>
  </h2>

  <div class="container-lg mt-3">
    <img src="../img/Structure.jpg" style="width: 100%; margin-top: 25px;">
  </div>


  <div class="ip-features-container">
    <article class="ip-features-grid">
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmerconsumermp.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Customer Marketplace</h3>
          <p>Easily upload your photos by dragging them from your computer.</p>
        </div>
      </div>
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmerfertilizer.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Fertilizer Industry Supply</h3>
          <p>Use pre-built grid templates to customise the appearance of your gallery.</p>
        </div>
      </div>
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmerpolicy.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Agriculture Department/GOI Policies</h3>
          <p>Build responsive WordPress galleries and websites that work on any device.</p>
        </div>
      </div>
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmerinsurance.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Bank Insurance/Loans</h3>
          <p>Organise photos in collections and add as many custom fields as you want.</p>
        </div>
      </div>
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmertransport.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Transportation Facility</h3>
          <p>Sort and filter photos in your galleries based on multiple criteria.</p>
        </div>
      </div>
      <div class="ip-features-item">
        <div class="image">
          <img src="../img/farmerconsumertransparency.png" style="height: 100px; width: 100px;">
        </div>
        <div class="text">
          <h3>Farmer-Customer Transparency</h3>
          <p>User profiles, frontend management, cover photos, tabbed section and more!</p>
        </div>
      </div>

    </article>
  </div>


</div>
</div>