<link rel="stylesheet" href="../css/fncmart_stakeholders.css">

<div class="container">

    <div class="stakeholder_heading">
        <h1>
            <span style="color:#fdb721;">To Whom We Are</span> <span style="color:#027cd6;">Helping?</span><br>


        </h1>


    </div>
    <div class="stakeholders_list">

        <h2> <span style="color:#027cd6;">Our Stakeholders</span></h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card sh">
                    <div style="text-align: center;">

                        <img src="../img/Farmer.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body" style="margin-top: -30px;">
                        <h5 class="card-title">Producers</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
                <hr>
                <div class="card sh">
                    <div style="text-align: center;">

                        <img src="../img/Consumer.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body" style="margin-top: -30px;">
                        <h5 class="card-title">Consumers</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/klZNNUz4wPQ" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
