<link rel="stylesheet" href="../css/fncmart_solution.css">
<link rel="stylesheet" href="../css/Bootstrap4.5.2/bootstrap.min.css">

<div class="container">

    <div class="solution_heading">
    <h1>
        <span style="color:#fdb721;">OUR</span>
        <span style="color:#027cd6;">Solution</span>
    </h1>
    </div>

    <div class="solution_Keys">
        <div class="card-deck">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card shadow p-3 rounded">
                    <div style="text-align: center;">
                    <img src="../img/scan.png" class="card-img-top-1" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Food Traceability</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted"><a href="#">Read More..</a></small></p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card shadow p-3 rounded">
                    <div style="text-align: center;">
                    <img src="../img/marketplace.png" class="card-img-top-1" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">E-com Marketplace</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted"><a href="#">Read More..</a></small></p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card shadow p-3 rounded">
                    <div style="text-align: center;">
                        <img src="../img/assistance.png" class="card-img-top-1" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Farmer Assistance</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                            content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted"><a href="#">Read More..</a></small></p>
                        </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card shadow p-3 rounded">
                    <div style="text-align: center;">
                    <img src="../img/coldstorage.png" class="card-img-top-1" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Cold Storage</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                            content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted"><a href="#">Read More..</a></small></p>
                        </div>
                </div> 
            </div>
        </div>
    </div>
</div>
