<footer class="ct-footer">
    <div class="container">
      <div class="ct-footer-meta text-center-sm">
        <div class="row">
          <div class="col-sm-6 col-md-2">
            <img alt="logo" src="/img/pnglogo (1).png" class="logo">
          </div>
          <div class="col-sm-6 col-md-3">
            <address>
              <span>Yuva and Seva Foundations<br></span>Keshav Bhavan, Gopal Vidya Mandir<br>Bhiwani Road, Jind<br>
              Haryana, INDIA, 32801<br>
              <span>Phone: <a href="tel:+919996419100">(+91) 99964 19100</a></span>
            </address>
          </div>
          
          <div class="col-sm-6 col-md-4">
            <ul class="ct-socials list-unstyled">
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-facebook fa-3x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;">
                <a href="" target="_blank"><i class="fab fa-twitter fa-3x" style="color: whitesmoke;"></i> </a>
              </li>
              <li style="display: inline !important;"> 
                <a href="" target="_blank"><i class="fab fa-instagram fa-3x" style="color: whitesmoke;"></i> </a>
              </li>
              
            </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <ul class="list-unstyled footer-list">
              <li>Home</li>
              <li>About Us</li>
              <li>Contact Us</li>
              <li>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                <div id="google_translate_element" style="margin-top: 50%;">
                </div>
                <script type="text/javascript">
                  function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'bn,de,en,es,fr,gu,hi,it,kn,ml,mr,ta,te,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                  }
                </script>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="color: whitesmoke;">
  
              <p>
    Copyright ©<script>2020;</script> All rights reserved</p>
      <p>
                Developed By <a href="../it_team.html"><u>F-C Mart IT Team</u></a></p>
            </div>
          </div>


      </div>
    </div>
    
  </footer>
  <script src="/js/footer.js"></script>