<div id="element-with-background-image">
    <div class="contactcontainer">
        <h1>
            <p class="text-center">Get in touch</p>
        </h1>
        <p class="text-center">Have a question? Need a tip? Want to grab a coffee with our team?
            <br>
            The support team is here to help. We will be happy to answer all your queries and can come for a good
            cappuccino with you
        </p>
        <div class="button-wrapper">

            <a href="../contact.html"><button style="outline: none; color:beige; font-weight: bold;">
Get Started
                </button>
            </a>

        </div>
    </div>
</div>