<section>
    <section class="team-page-section">
        <div class="container">
            <div class="row clearfix" style="align-items: center;">

                <!-- Mentors -->
                <!-- Davinder Singh -->
                <section style="margin: auto;">
                    <div class="team-block container py-3">


                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

                            <div class="row ">
                                <div class="col-md-4">
                                    <div class="image">

                                        <a href="#"><img src="../img/Davinder sir.jpg" alt="" style="height:300px; width:300px;"/></a>
                                    </div>
                                </div>
                                <div class="col-md-8 px-3">
                                    <div class="card-block px-3">
                                        <div class="mentor lower-content">
                                            <h3><a href="#">Mr. Davinder Singh</a></h3>
                                            <h5><a href="#">Mentor </a></h5>
                                            <div class="designation">

                                                <ul class="mentors">
                                                    <li>Assistant Dean- Strategy and Innovation, BML Munjal
                                                        University</li>
                                                    <li>Founder- TRAU Innovations Consulting</li>
                                                    <li>Former Business Head- CavinKare</li>
                                                    <li>Former Director - New Products Commercialisation, Coca Cola
                                                        India</li>
                                                    <li>Former Head Marketing- DUFIL, Nigeria</li>
                                                    <li>Former GM Marketing- Foster's India</li>
                                                    <li>25+ years of Expertise</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </section>
                <!-- Ruchin Singhal -->
                <section style="margin: auto;">
                    <div class="team-block container py-3">


                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

                            <div class="row ">
                                <div class="col-md-4">
                                    <div class="image">

                                        <a href="#"><img src="../img/Ruchin.jpg" alt=""  style="height:300px; width:300px;"/></a>
                                    </div>
                                </div>
                                <div class="col-md-8 px-3">
                                    <div class="card-block px-3">
                                        <div class="mentor lower-content">
                                            <h3><a href="#">Mr. Ruchin Singhal</a></h3>
                                            <h5><a href="#">Mentor </a></h5>
                                            <div class="designation">

                                                <ul class="mentors">
                                                    <li>Practising Chartered Accountant</li>
                                                    <li>Finance, Auditing, Indirect & Direct Taxes</li>
                                                    <li>Accounting Veteran</li>
                                                    <li>Senior Level Decision Maker</li>
                                                    <li>Mentor for Startups and Enterpreneur</li>
                                                    <li>25+ years of Expertise</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </section>


            </div>
        </div>
    </section>
</section>