<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../CSS/navbar.css">
    <script src="../js/navbar.js"></script>
</head>
<body>
    <nav class="nav">
            <div class="logo">
                <a href="../index.html"><img src="../img/fncmart.png" style="width: 260px;" alt=""></a>
            </div>
            <div id="mainListDiv" class="main_list ml-auto">
                <ul class="navlinks hide-mobile">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../about-us.html">About Us</a></li>
                    <li><a href="../contact.html">Contact Us</a></li>
                </ul>
                <ul class="navlinks show-mobile">
                    <li><a href="#"><i class="fas fa-home"></i></a></li>
                    <li><a href="#"><i class="far fa-address-card"></i></a></li>
                    <li><a href="#"><i class="fas fa-phone-square"></i></a></li>
                </ul>
            </div>
    </nav>
</body>
</html>