<link rel="stylesheet" href="../css/our-team.css">
<script src="../js/our-team.js"></script>

<div class="container">
    <div class="sec-title centered">
        <div class="title">
            <h1>
                <span style="color:#fdb721;">Our</span>
                <span style="color:#027cd6;">Team</span>
            </h1>
        </div>
        <h2>Meet the awesome people behind FnC Mart</h2>
    </div>

    <div class="team">
        <div class="row">
            <!--Sahaj-->
            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card" onclick="sahaj()">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../img/Sahaj.jpg" alt="Sahaj">
                            <div class="team-block">
                                <h3> Sahaj Singh Sachdeva  </h3>
                                <h5>CEO and Co-founder</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <img src="../img/Consumer.png" alt="Sahaj">
                            <div class="team-block">
                                <h3> Sahaj Singh Sachdeva  </h3>
                                <h5>CEO and Co-founder</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nikhil-->
            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card" onclick="nikhil()">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../img/Nikhil.jpg" alt="Nikhil">
                            <div class="team-block">
                                <h3> Nikhil Agarwal  </h3>
                                <h5>CFO and Co-founder</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <img src="../img/Consumer.png" alt="Nikhil">
                            <div class="team-block">
                                <h3> Nikhil Agarwal  </h3>
                                <h5>CFO and Co-founder</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Rishabh-->
            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card" onclick="rishabh()">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../img/Rishabh.jpg" alt="Rishabh">
                            <div class="team-block">
                                <h3> Rishabh Aanjana  </h3>
                                <h5>Farmer Relations Manager</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <img src="../img/Consumer.png" alt="Rishabh">
                            <div class="team-block">
                                <h3> Rishabh Aanjana  </h3>
                                <h5>Farmer Relations Manager</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Kavya-->
            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card" onclick="kavya()">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../img/Kavya.jpeg" alt="Kavya">
                            <div class="team-block">
                                <h3> Kavya  </h3>
                                <h5>Frontend Developer</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <img src="../img/Consumer.png" alt="Rishabh">
                            <div class="team-block">
                                <h3> Kavya  </h3>
                                <h5>Frontend Developer</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sakshi-->
            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card" onclick="sakshi()">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../img/Sakshi.jpg" alt="Sakshi">
                            <div class="team-block">
                                <h3> Sakshi Tomar  </h3>
                                <h5>Frontend Developer</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <img src="../img/Consumer.png" alt="Sakshi">
                            <div class="team-block">
                                <h3> Sakshi Tomar  </h3>
                                <h5>Frontend Developer</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Navya-->
            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card" onclick="navya()">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../img/Navya.jpg" alt="Navya">
                            <div class="team-block">
                                <h3> Navya Vajpayee  </h3>
                                <h5>Content Creation Team Lead</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <img src="../img/Consumer.png" alt="Navya">
                            <div class="team-block">
                                <h3> Navya Vajpayee  </h3>
                                <h5>Content Creation Team Lead</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Nikita-->
            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-last-l">
                <div class="card" onclick="nikita()">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../img/Nikita.jpg" alt="Nikita">
                            <div class="team-block">
                                <h3> Nikita Lamba  </h3>
                                <h5> Marketing Team Lead</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <img src="../img/Consumer.png" alt="Nikita">
                            <div class="team-block">
                                <h3> Nikita Lamba  </h3>
                                <h5> Marketing Team Lead</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Divya-->
            <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-last-r">
                <div class="card" onclick="divya()">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../img/Divya.jpg" alt="Divya">
                            <div class="team-block">
                                <h3> Divya Singh  </h3>
                                <h5>Social Media Marketing Intern</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <img src="../img/Consumer.png" alt="Divya">
                            <div class="team-block">
                                <h3> Divya Singh  </h3>
                                <h5>Social Media Marketing Intern</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="sahaj modal" id="sahaj">
    <div class="content">
        <img src="../img/Sahaj.jpg" alt="Sahaj">
        <div class="text">
            <h3>Sahaj Singh Sachdeva</h3>
            <h4>CEO and Co-founder</h4>
            <ul class="social-icons">
                <li><a href="https://www.linkedin.com/in/sahajsinghsachdeva/" target="_blank"><i
                            class=" fab fa-2x fa-2x fa-linkedin-in"></i></a></li>
                <li><a href="https://www.facebook.com/sahajsinghsachdeva1/" target="_blank"><i
                            class=" fab fa-2x fa-2x fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/sahajsinghsachdeva/" target="_blank"><i
                            class=" fab fa-2x fa-2x fa-instagram"></i></a></li>
            </ul>
            <p>With more than 2 years of experience and insights into Software Development, 
                I envision to develop an organization: that undertakes the challenging mission 
                to bring change in the life of billions; values bold decisions for the long term impacts; 
                where each stakeholder is gratified to connect with.
            </p>
        </div>
        <div class="close" onclick="closeModal()">X</div>
    </div>
    
</div>
<div class="nikhil modal" id="nikhil">
    <div class="content">
        <img src="../img/Nikhil.jpg" alt="Nikhil">
        <div class="text">
            <h3>Nikhil Agarwal</h3>
            <h4>CFO and Co-founder</h4>
            <ul class="social-icons">
                <li><a href="https://www.linkedin.com/in/nikhil-agarwal-161461147" target="_blank"><i
                            class="fab fa-2x fa-linkedin-in"></i></a></li>
                <li><a href="https://www.facebook.com/nikhil.agarawal.1" target="_blank"><i
                            class="fab fa-2x fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/nikkhil_agarawal?r=nametag" target="_blank"><i
                            class="fab fa-2x fa-instagram"></i></a></li>
            </ul>
            <p>Having more than 2 years of work experience in Risk Advisory and Assurance, 
                I intend to straighten and simplify the financial riddles of the company.
            </p>
        </div>
        <div class="close" onclick="closeModal()">X</div>
    </div>
</div>
<div class="rishabh modal" id="rishabh">
    <div class="content">
        <img src="../img/Rishabh.jpg" alt="Rishabh">
        <div class="text">
            <h3>Rishabh Aanjana</h3>
            <h4>Farmer Relations Manager</h4>
            <ul class="social-icons">
                <li><a href="https://www.instagram.com/ri_shabh56/" target="_blank"><i
                            class="fab fa-2x fa-instagram"></i></a></li>
            </ul>
            <p>I presently teach at a school and competitive coaching. By being a part of FnC,
                 I aspire to earn the trust of the farmers by building a wholesome network and 
                 devote my share of support to them.
            </p>
        </div>
        <div class="close" onclick="closeModal()">X</div>
    </div>
</div>
<div class="kavya modal" id="kavya">
    <div class="content">
        <img src="../img/Kavya.jpeg" alt="Kavya">
        <div class="text">
            <h3>Kavya</h3>
            <h4>Frontend Developer</h4>
            <ul class="social-icons">
                <li><a href="https://www.linkedin.com/in/kavya-bajaj-81019a17a/" target="_blank"><i
                            class="fab fa-2x fa-linkedin-in"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100004113828985" target="_blank"><i
                            class="fab fa-2x fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/_bajajkavya_/" target="_blank"><i
                            class="fab fa-2x fa-instagram"></i></a></li>
            </ul>
            <p>With an experience of around a year in Web Development, I wish to grow professionally 
                and apply the best of my skills to make a product by considering the data, human-centric, 
                reliability, scalability and adaptability aspects for it.
            </p>
        </div>
        <div class="close" onclick="closeModal()">X</div>
    </div>
</div>
<div class="sakshi modal" id="sakshi">
    <div class="content">
        <img src="../img/Sakshi.jpg" alt="Sakshi">
        <div class="text">
            <h3>Sakshi Tomar</h3>
            <h4>Frontend Developer</h4>
            <ul class="social-icons">
                <li><a href="https://www.linkedin.com/in/sakshi-tomar-12852a186/" target="_blank"><i
                            class="fab fa-2x fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/sak.shi_s/" target="_blank"><i
                            class="fab fa-2x fa-instagram"></i></a></li>
            </ul>
            <p>Possessing a skill - set with Frameworks HTML, CSS, ReactJS and Azure Cloud, 
                I seek to innovate the Web Development of FnC Mart and help in releasing the 
                human-centric products.
            </p>
        </div>
        <div class="close" onclick="closeModal()">X</div>
    </div>
</div>
<div class="navya modal" id="navya">
    <div class="content">
        <img src="../img/Navya.jpg" alt="Navya">
        <div class="text">
            <h3>Navya Vajpayee</h3>
            <h4>Content Creation Team Lead</h4>
            <ul class="social-icons">
                <li><a href="https://www.linkedin.com/in/navya-vajpayee-63a966177" target="_blank"><i
                            class="fab fa-2x fa-linkedin-in"></i></a></li>
                <li><a href="https://www.facebook.com/navya.vajpayee" target="_blank"><i
                            class="fab fa-2x fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/navya.vajpayee_" target="_blank"><i
                            class="fab fa-2x fa-instagram"></i></a></li>
            </ul>
            <p>I have been into content writing for almost 2 years & I aim to amplify the company’s 
                communication by creating contents that are the key elements in effective communication.
            </p>
        </div>
        <div class="close" onclick="closeModal()">X</div>
    </div>
</div>
<div class="nikita modal" id="nikita">
    <div class="content">
        <img src="../img/Nikita.jpg" alt="Nikita">
        <div class="text">
            <h3>Nikita Lamba</h3>
            <h4>Marketing Team Lead</h4>
            <ul class="social-icons">
                <li><a href="https://www.linkedin.com/in/nikita-lamba-a1420514b/" target="_blank"><i
                            class="fab fa-2x fa-linkedin-in"></i></a></li>
                <li><a href="https://www.facebook.com/nikita.lamba.5454/" target="_blank"><i
                            class="fab fa-2x fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/nikkii_lamba/" target="_blank"><i
                            class="fab fa-2x fa-instagram"></i></a></li>
            </ul>
            <p>Having around 2 years of experience in Advertising and Marketing, I endeavour 
                to establish a coherent marketing approach for the company to ensure excellent growth.
            </p>
        </div>
        <div class="close" onclick="closeModal()">X</div>
    </div>
</div>
<div class="divya modal" id="divya">
    <div class="content">
        <img src="../img/Divya.jpg" alt="Divya">
        <div class="text">
            <h3>Divya Singh</h3>
            <h4>Digital Marketing Intern</h4>
            <ul class="social-icons">
                <li><a href="https://www.linkedin.com/in/divya-singh-4247b71b6/" target="_blank"><i
                            class="fab fa-2x fa-linkedin-in"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100008656243043" target="_blank"><i
                            class="fab fa-2x fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/_thewingsoffire_/" target="_blank"><i
                            class="fab fa-2x fa-instagram"></i></a></li>
            </ul>
            <p>With over a year of hands-on learning in Designing and basic Digital Art, I seek to maximise 
                the reach of the company by making aesthetic designs for the marketing.
            </p>
        </div>
        <div class="close" onclick="closeModal()">X</div>
    </div>
</div>