<section>
    <section class="team-page-section">
        <div class="container">
            <div class="sec-title centered">
                <div class="title">Our Team</div>
                <h2>Meet the awesome people behind FnC Mart</h2>
            </div>

            <div class="row clearfix" style="align-items: center;">
                <div class="row">
                    <!-- SAHAJ  -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12" style="margin: auto;">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/sahajsinghsachdeva/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/sahajsinghsachdeva1/" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/sahajsinghsachdeva/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image big">
                                <a href="#"><img src="../img/Sahaj.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Sahaj Singh Sachdeva </a></h3>
                                <h5><a href="#">CEO and Co-founder </a></h5>
                                <div class="designation">Having an experience of 1.5+ years experience in Software
                                    Development. <br></div>

                            </div>

                        </div>
                    </div>
                    <!-- Nikhil -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12" style="margin: auto;">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/nikhil-agarwal-161461147" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/nikhil.agarawal.1" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/nikkhil_agarawal?r=nametag" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Nikhil.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Nikhil Agarwal </a></h3>
                                <h5><a href="#">CFO and Co-founder </a></h5>
                                <div class="designation">Having an experience of 2+ years experience in Financials
                                    and Auditing <br></div>
                            </div>
                        </div>
                    </div>

                    <!-- Rishabh -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/ri_shabh56/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Rishabh.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Rishabh Aanjana </a></h3>
                                <h5><a href="#">Farmer Relations Manager</a></h5>
                                <div class="designation">Having an experience of 1.5+ years experience in Software
                                    Development. <br></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Kavya -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/kavya-bajaj-81019a17a/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/profile.php?id=100004113828985" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/_bajajkavya_/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Kavya.jpeg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Kavya</a></h3>
                                <h5><a href="#">Frontend Developer</a></h5>
                                <div class="designation">Having an experience of 1.5+ years experience in Software
                                    Development. <br></div>
                            </div>
                        </div>
                    </div>
                    <!-- Sakshi -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/sakshi-tomar-12852a186/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/sak.shi_s/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Sakshi.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Sakshi Tomar</a></h3>
                                <h5><a href="#">Frontend Developer</a></h5>
                                <div class="designation">Having an experience of 1.5+ years experience in Software
                                    Development. <br></div>
                            </div>
                        </div>
                    </div>
                                        <!-- Navya -->

                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/navya-vajpayee-63a966177" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/navya.vajpayee" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/navya.vajpayee_" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Navya.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Navya Vajpayee</a></h3>
                                <h5><a href="#">Content Creation Team Lead </a></h5>
                                <div class="designation">Having an experience of 1.5+ years experience in Software
                                    Development. <br></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">



                    <!-- Nikita -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/nikita-lamba-a1420514b/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/nikita.lamba.5454/" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/nikkii_lamba/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Nikita.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Nikita Lamba</a></h3>
                                <h5><a href="#"> Marketing Team Lead </a></h5>
                                <div class="designation">Having an experience of 1.5+ years experience in Software
                                    Development. <br></div>
                            </div>
                        </div>
                    </div>

                    <!-- Divya -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/divya-singh-4247b71b6/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/profile.php?id=100008656243043" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/_thewingsoffire_/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Divya.JPG" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Divya Singh</a></h3>
                                <h5><a href="#">Social Media Marketing Intern </a></h5>
                                <div class="designation">Having an experience of 1.5+ years experience in Software
                                    Development. <br></div>
                            </div>
                        </div>
                    </div>

                    <!-- Khushi -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/divya-singh-4247b71b6/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/profile.php?id=100008656243043" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/_thewingsoffire_/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Divya.JPG" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Khushi Srivastava</a></h3>
                                <h5><a href="#">Social Media Marketing Intern </a></h5>
                                <div class="designation">Having an experience of 1.5+ years experience in Software
                                    Development. <br></div>
                            </div>
                        </div>
                    </div>
                </div>
              

            </div>
        </div>
    </section>
</section>