<section>
    <section class="team-page-section">
        <div class="container">
            <div class="sec-title centered">
                <div class="title">
                    <h1>
                        <span style="color:#fdb721;">Our</span>
                        <span style="color:#027cd6;">Team</span>
                    </h1>
                </div>
                <h2>Meet the awesome people behind FnC Mart</h2>
            </div>

            <div class="row clearfix" style="align-items: center;">
                <div class="row">
                    <!-- SAHAJ  -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12" style="margin: auto;">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/sahajsinghsachdeva/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/sahajsinghsachdeva1/" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/sahajsinghsachdeva/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image big">
                                <a href="#"><img src="../img/Sahaj.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Sahaj Singh Sachdeva </a></h3>
                                <h5><a href="#">CEO and Co-founder </a></h5>
                                <div class="designation">With more than 2 years of experience and insights into Software Development, I envision to develop an organization: that undertakes the challenging mission to bring change in the life of billions; values bold decisions for the long term impacts; where each stakeholder is gratified to connect with.<br></div>

                            </div>

                        </div>
                    </div>
                    <!-- Nikhil -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12" style="margin: auto;">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/nikhil-agarwal-161461147" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/nikhil.agarawal.1" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/nikkhil_agarawal?r=nametag" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Nikhil.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Nikhil Agarwal </a></h3>
                                <h5><a href="#">CFO and Co-founder </a></h5>
                                <div class="designation">Having more than 2 years of work experience in Risk Advisory and Assurance, I intend to straighten and simplify the financial riddles of the company.<br></div>
                            </div>
                        </div>
                    </div>

                    <!-- Rishabh -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/ri_shabh56/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Rishabh.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Rishabh Aanjana </a></h3>
                                <h5><a href="#">Farmer Relations Manager</a></h5>
                                <div class="designation">I presently teach at a school and competitive coaching. By being a part of FnC, I aspire to earn the trust of the farmers by building a wholesome network and devote my share of support to them.<br></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Kavya -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/kavya-bajaj-81019a17a/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/profile.php?id=100004113828985" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/_bajajkavya_/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Kavya.jpeg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Kavya</a></h3>
                                <h5><a href="#">Frontend Developer</a></h5>
                                <div class="designation">With an experience of around a year in Web Development, I wish to grow professionally and apply the best of my skills to make a product by considering the data, human-centric, reliability, scalability and adaptability aspects for it.<br></div>
                            </div>
                        </div>
                    </div>
                    <!-- Sakshi -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/sakshi-tomar-12852a186/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/sak.shi_s/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Sakshi.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Sakshi Tomar</a></h3>
                                <h5><a href="#">Frontend Developer</a></h5>
                                <div class="designation">Possessing a skill - set with Frameworks HTML, CSS, ReactJS and Azure Cloud, I seek to innovate the Web Development of FnC Mart and help in releasing the human-centric products.<br></div>
                            </div>
                        </div>
                    </div>
                                        <!-- Navya -->

                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/navya-vajpayee-63a966177" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/navya.vajpayee" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/navya.vajpayee_" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Navya.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Navya Vajpayee</a></h3>
                                <h5><a href="#">Content Creation Team Lead </a></h5>
                                <div class="designation">I have been into content writing for almost 2 years & I aim to amplify the company’s communication by creating contents that are the key elements in effective communication.<br></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">



                    <!-- Nikita -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/nikita-lamba-a1420514b/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/nikita.lamba.5454/" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/nikkii_lamba/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Nikita.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Nikita Lamba</a></h3>
                                <h5><a href="#"> Marketing Team Lead </a></h5>
                                <div class="designation">Having around 2 years of experience in Advertising and Marketing, I endeavour to establish a coherent marketing approach for the company to ensure excellent growth.<br></div>
                            </div>
                        </div>
                    </div>

                    <!-- Divya -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/divya-singh-4247b71b6/" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.facebook.com/profile.php?id=100008656243043" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/_thewingsoffire_/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="../img/Divya.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">Divya Singh</a></h3>
                                <h5><a href="#">Social Media Marketing Intern </a></h5>
                                <div class="designation">With over a year of hands-on learning in Designing and basic Digital Art, I seek to maximise the reach of the company by making aesthetic designs for the marketing.<br></div>
                            </div>
                        </div>
                    </div>

        
                </div>
              

            </div>
        </div>
    </section>
</section>